{% extends 'artist/base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <form method="POST" novalidate>
            {{ artist_form.management_form }}
            {{ book_formset.management_form }}
            {{ music_formset.management_form }}
            {% csrf_token %}
            <div class="form-row">
              <h1>Artist</h1>
              <div class="form-group col-md-12 mb-0">
                {{ artist_form.as_p }}
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <h3>Books</h3>
            {% for book in book_formset %}
              <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                  {{ book.as_p }}
                </div>
              </div>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <h3>Music</h3>
            {% for music in music_formset %}
              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ music.as_p }}
                </div>
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mb-3">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
